h1{
    font-family: 'Dosis', sans-serif
}
body {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    color: #000000;
}
div.container-fluid{
    background-color: #000000;
    height: 100px;
}

p.disclaimer{
    font-family: 'Dosis', sans-serif;
    font-size:16px;
    color:black;
    font-style: oblique;
}
.response-header, .symptoms-header{
    font-family: 'Dosis', sans-serif;
    font-size:20px;
    font-weight:bold;
    color:red;
}

thead.table_header{
    text-align:center;
    font-weight:1500;
    color:black;
    /* background-color:red; */
}

ul{
    font-family: 'Dosis', sans-serif;
    font-size:16px;
    color:black;
}
ul.a{
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}

li {
    font-family: 'Dosis', sans-serif;
    font-size:16px;
    color:black;
    padding-left:20px;
}

span.silent{
    font-weight: bold;
    /* font-style: italic; */
}

table{
    font-family: 'Dosis', sans-serif
}
.column1{
    text-align:left;
    font-weight:1200;
    font-style: oblique;
}

.column2, .column3{
    text-align:right;
}

#logo{
    position: absolute;
    top:35px;
    left:10px;
    width:120px;
    height:auto;    
}
div.row{
    font-family: 'Dosis', sans-serif;
    font-weight:500;
}
#myNavbar {
    padding-top:50px;
    font-family: 'Dosis', sans-serif;
    font-weight:300;
    font-size:26px;

}
#home_title {
    padding-top:60px;
    padding-left:130px;
    font-size:32px;
    font-family: 'Dosis', sans-serif;
    font-weight:500;
    color:#fff;
}

#button_action:active{
    color: rgb(222,38,38);
}

p {
    font-family: 'Dosis', sans-serif;
    font-weight:500;
    font-size:18px;
}

.plot-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20 px;
    width: 66%
}
.barchart{
    width:800px;
    height:auto;    
}

.highrisk {
    color:rgb(222,38,38);
    font-weight: bold;
}
/* 
.boldrisk {
    color:rgb(222,38,38);
    font-weight: bold;
} */