../static/<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Predicting Heart Disease</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap" rel="stylesheet">    
    <link   rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    <link   rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    <link   rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" 
                            class="navbar-toggle" 
                            data-toggle="collapse" 
                            data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <img src="../static/images/Capture2.PNG" id="logo" alt="HeartLogo" >
                    <a class="navbar-brand no-margins" id="home_title" href="index.html">
                        PredictiveAnalytics
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Analysis
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="health_intake.html">Intake Form</a></li>
                            <li><a href="results.html">Results</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dataset
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="methods.html">Methods</a></li>
                                <li><a href="framingham.html">Framingham Study</a></li>
                            </ul>
                            </li>
                    <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Heart Disease
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="symptoms.html">Symptoms</a></li>
                                <li><a href="riskfactors.html">Risk Factors</a></li>
                                <li><a href="prevention.html">Prevention</a></li>
                                <li><a href="treatment.html">Treatment</a></li>
                            </ul>
                            </li>
                </ul>
                </div>
            </div>
            </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8" id="bodytext">
                <h1>Machine learning in health care</h1>
                <p>
                    The current global pandemic has strained the Canadian health care system to the point of <a href="https://ca.reuters.com/article/idCAKBN27Y1IH">failure</a>. 
                    Hospitals are exceeding capacity and many routine surgeries and treatments are being delayed as more
                    acute cases take priority, and the increased stress and psychological <a href="https://globalnews.ca/news/7473628/ontario-nurses-mental-health-pandemic/">strain</a> on doctors and nurses
                    further reducing the capacity and quality of client care.                    
                    <br>
                    To help unburden the load, machine learning can be used to help identify high risk patients, such as those 
                    who are at risk of developing heart disease. Prediction of cardiovascular disease is regarded as one of the
                    most important subjects in the section of clinical data analysis. Identifying individuals who are at 
                    higher risk of heart disease can allow for early intervention with less invasive methods leading to better 
                    outcomes at a fraction the cost. 
                </p>
            </div>
            </div>
                
            </div>
        </div>
    </div>
</body>

</html>